/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Jan-2015, 17:49:55
    Author     : Kit
*/

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
